
<form action="/user/create" method="post">
	
<input type="text" name="name" /></br>
<input type="text" name="age" /></br>
<input type="text" name="email" /></br>
<input type="submit" value="Submit"/>

</form>